{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated and user.role_id.description == 'Admin' %}
<h1>Confirmar Eliminación</h1>
<p>
  ¿Estás seguro de que quieres eliminar al pasajero
  <strong>{{ pasajero.nombre }}</strong>?
</p>
<form method="post">
  {% csrf_token %}
  <button type="submit">Sí, Eliminar</button>
  <a href="{% url 'passengerDetail' pasajero.pk %}">Cancelar</a>
</form>
{% else %}
Solo los Administradores pueden eliminar Pasajeros.
<p>Por favor, <a href="{% url 'login' %}">inicia sesión</a> para eliminar un pasajero.</p>
{% endif %}
{% endblock %}