{% extends 'base.html' %}

{% block title %}Flight_Delete{% endblock %}

{% block content %}
{% if user.is_authenticated and user.role_id.description == 'Admin' %}
    <h2>Seguro desea borrar el vuelo {{object}} ?</h2>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-success">
            Estoy Seguro
        </button>
        <a href="{% url 'flight_list' %}" class="btn red">Volver</a>
    </form>
    {% else %}
    Solo los Administradores pueden crear Vuelos.
    <p>Por favor, <a href="{% url 'login' %}">inicia sesión</a> para borrar un vuelo.</p>
    {% endif %}
{% endblock %}
