{% extends 'base.html' %}

{% block title %}Airplane_Delete{% endblock %}

{% block content %}
{% if user.is_authenticated and user.role_id.description == 'Admin' %}
    <h2>Seguro desea borrar {{object}} ?</h2>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-success">
            Estoy Seguro
        </button>
        <a href="{% url 'airplane_list' %}" class="btn red">Volver</a>
    </form>

Solo los Administradores pueden crear aviones.
<p>Por favor, <a href="{% url 'login' %}">inicia sesión</a> para crear un avión.</p>
{% endblock %}