{% extends 'base.html' %}

{% block title %}Airplanes List{% endblock %}

{% block content %}

<table class="table">
    <thead>
        <tr>
            <th>Modelo</th>
            <th>Capacidad</th>
            <th>Filas</th>
            <th>Columnas</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for airplane in airplanes %}
        <tr>
            <td>{{airplane.model}}</td>
            <td>{{airplane.capacity}}</td>
            <td>{{airplane.rows}}</td>
            <td>{{airplane.columns}}</td>
            <td>
                <a href="{% url 'airplane_detail' airplane.id %}" class="fa fa-eye" aria-hidden="true"> Ver </a>
                <a href="{% url 'airplane_delete' airplane.id %}" class="fa fa-trash" aria-hidden="true"> Borrar </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}